go 1.24.1

use (
	./examples/modbus_basic
	./kernel
	./protocols/automotive/flexray
	./protocols/automotive/kline
	./protocols/automotive/lin
	./protocols/automotive/most
	./protocols/automotive/saej1850
	./protocols/bridge/controlnet
	./protocols/bridge/ethercat
	./protocols/bridge/interbus
	./protocols/bridge/isa100
	./protocols/bridge/lightbus
	./protocols/bridge/modbusplus
	./protocols/bridge/powerlink
	./protocols/bridge/safej1850
	./protocols/bridge/sercos
	./protocols/bridge/sercos1
	./protocols/bridge/wirelesshart
	./protocols/bridge/worldfip
	./protocols/building/dali
	./protocols/building/lonworks
	./protocols/ethernet/bacnet
	./protocols/ethernet/ethernetip
	./protocols/ethernet/modbus
	./protocols/ethernet/opcua
	./protocols/ethernet/profinet
	./protocols/fieldbus/asinterface
	./protocols/fieldbus/canopen
	./protocols/fieldbus/cclink
	./protocols/fieldbus/cclinkie
	./protocols/fieldbus/devicenet
	./protocols/fieldbus/dnp3
	./protocols/fieldbus/foundationfieldbus
	./protocols/fieldbus/hart
	./protocols/fieldbus/iec61850
	./protocols/fieldbus/iolink
	./protocols/fieldbus/profibus
	./protocols/iot/hartip
	./protocols/iot/mqtt
	./protocols/system/cpci
	./protocols/system/pci
	./protocols/system/vme
)
